<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .form
        {
            margin:100px auto;
            width: 300px;
            text-align: match-parent;
            height: 200px;
            background: #cbebf5;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #b3b3b3;
        }
        .button
        {
            margin:0 40%;
            white-space: nowrap;
        }
        #input
        {
            margin: 50px;
        }
    </style>
</head>
<body>
    <form action="/loginpost" method="post" class="form">

        <label><input type="radio" name="role" value="student" checked>学生登录</label>
        <label><input type="radio" name="role" value="teacher">教师登录</label>
        <label><input type="radio" name="role" value="admin">管理员登录</label>

        <br>
        <div id="input">
            <label>学号:<input type="text" name="id"></label>

            <br>

            <label>密码:<input type="password" name="password"></label>

            <br>
        </div>

        <div class="button">
            <input type="submit" value="登录">
            <a href="/register">注册</a>
        </div>
    </form>
</body>
</html>