<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <div th:replace="parts/header::header_part"></div>
    <div th:replace="parts/nav::navgation_part"></div>

    <form th:if="${admin}" action="/setterm" method="get">
        <label>设置学期 <input type="text" name="term"> </label>
        <input type="submit" value="确定">
        <br>
        <span>格式：20xx-20xx{春|夏|秋|冬}季</span>
    </form>
</body>
</html>