<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <p>当前学期:<span th:text="${term}"></span></p>

    <p>
        <span th:if="${student}">学生</span>
        <span th:if="${teacher}">教师</span>
        <span th:text="${name}"></span>
    </p>

    <div th:if="${admin}">
        <a href="/editcourse">编辑课程</a>
        <br>
        <a>编辑用户</a>
        <br>
        <form action="/setterm" method="get">
            <label>设置学期 <input type="text" name="term"> </label>
            <input type="submit" value="确定">
            <br>
            <span>格式：20xx-20xx{春|夏|秋|冬}季</span>
        </form>
    </div>

    <a href="/logout">注销</a>



</body>
</html>