<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header_part">
        <ul>
            <li>当前学期:<span th:text="${term}"></span></li>
            <li>
                <span th:if="${student}">学生</span>
                <span th:if="${teacher}">教师</span>
                <span th:text="${name}"></span>
                <span>您好!</span>
            </li>
            <li><a href="/logout">注销</a></li>
        </ul>
    </div>
</body>
</html>