<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>
    <div th:fragment="navgation_part">
        <ul>
            <li><a href="/index">主页</a> </li>
            <div  th:if="${admin}">
                <li><a href="/admin/editdepartment">编辑学院</a> </li>
                <li><a href="/admin/editcourse">编辑课程</a></li>
                <li><a href="/admin/editopen">编辑开放课程</a></li>
            </div>

            <div  th:if="${teacher}">
                <li><a href="/studentlist">学生名单</a></li>
            </div>

            <div th:if="${student}">
                <li><a>选课</a> </li>
                <li><a>退课</a> </li>
                <li><a>课表</a> </li>
            </div>
        </ul>
    </div>
</body>
</html>